# The hostname for your instance
# Do NOT put http:// or https://
# ONLY put your domain here. Subdomains are ok.
LEMMY_HOSTNAME="example.com"

# If you use Cloudflare, your Cloudflare API token. Otherwise leave blank.
# If present, the DNS-01 challenge will be used to obtain valid HTTPS certificates
# This is useful if you use the Cloudflare proxy. Do not forget to choose the Full (Strict) SSL mode!
# **This token must have access to edit the Zone where $LEMMY_HOSTNAME is**
CF_API_TOKEN=""

# Whether or not to build Lemmy from source rather than use the Docker Hub images
# This will significantly increase deploy time!
BUILD_FROM_SOURCE="false"

# The name of your Lemmy instance, will be displayed on the site header (only used during first-time setup)
# If you use special characters, please backslash-escape them.
SETUP_SITE_NAME="Lemmy"

###############################################################
###            SETTINGS FOR ADVANCED USERS ONLY             ###
### I CANNOT HELP YOU WITH ISSUES RELATED TO THESE SETTINGS ###
###############################################################

# The external port to use for Caddy's port 80
CADDY_HTTP_PORT=80

# The external port to use for Caddy's port 443
CADDY_HTTPS_PORT=443

# If true/1, also deploy the postfix server and configure Lemmy to send emails
# NOTE: Port 25 is USUALLY disabled on most server providers. For this reason, the email service is not well tested
# Feedback on the email service is appreciated!
USE_EMAIL="false"

# If true/1, prefix the Caddy host block with http:// to disable TLS entirely
CADDY_DISABLE_TLS="false"

# The options below will be passed directly to lemmy.hjson
# See that file for how they will be used
# Remember to backslash escape any special characters!
POSTGRES_POOL_SIZE="5"
TLS_ENABLED="true"
SETUP_ADMIN_USER="lemmy"
LEMMY_NOREPLY_DISPLAY="Lemmy NoReply"
LEMMY_NOREPLY_FROM="noreply"
